@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  --font-familySec : 'Roboto', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bg: linear-gradient(287.15deg, #EFAFBC 0%, #C3E3FA 100%);
  
  --color-footer : #031B34;
  --color-text: #656565;
  --color-subtext: #FF8A71;
}